.button {
    position: absolute;
    top: 0;
    left: 0;
    width: 142px;
    height: 46px;
    background: #937c6f; /* Button background color */
    color: #FFFFFF; /* Text color */
    font-size: 12px; /* Font size */
    letter-spacing: 0.2em; /* Letter spacing */
    text-transform: uppercase; /* Uppercase text */
    border: none; /* No border */
    outline: none; /* No outline */
    cursor: pointer; /* Pointer cursor on hover */
    -webkit-transition: all 200ms ease; /* Transition for Webkit browsers */
    -moz-transition: all 200ms ease; /* Transition for Mozilla browsers */
    -ms-transition: all 200ms ease; /* Transition for Microsoft browsers */
    -o-transition: all 200ms ease; /* Transition for Opera browsers */
    transition: all 200ms ease; /* Transition for all browsers */
}

/* Optional: Add a hover effect */
.button:hover {
    background: #b29b8e; /* Change the background color on hover */
}