{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2 class="text-center" style="margin-top:200px;">ADD NEW PRODUCT</h2>
<div class="container" style="width:40%;margin-bottom:100px;">

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}

    <div class="mb-3">
    <label class="form-label">Product Name</label>
    <input type="text" class="form-control" name="n" placeholder="enter productname">
  </div>

    <div class="mb-3">
    <label class="form-label" >Description</label>
    <textarea class="form-control"  name="d" rows="4" required>enter product description</textarea>
  </div>

  <div class="mb-3">
    <label class="form-label">Upload Image</label>
    <input type="file" class="form-control" name="i">
  </div>

    <div class="mb-3">
    <label class="form-label">Price</label>
    <input type="number" class="form-control" name="p" placeholder="enter price">
  </div>

    <div class="mb-3">
    <label class="form-label">stoke</label>
    <input type="number" class="form-control" name="s" placeholder="enter stoke">
  </div>

    <div class="mb-3">
    <label class="form-label">Category</label>
    <select  name="c">
      <option value="" >Select a category</option>
      {% for i in links %}
        <option value="{{ i.name }}">{{ i.name }}</option>
      {% endfor %}
    </select>
  </div>

    <div>
  <button type="submit" class="button">Add product</button>
  </div>



</form>

</div>


{% endblock %}


