{% extends 'base.html' %}
{% load static %}

{% block content %}



<div class="row" style="margin-bottom:50px;">
    <div class="col-12" style="position: relative;">
        <!-- Image with Shopping Cart text overlay -->
        <img src="{% static 'images/cart.jpg' %}" height="400px" width="100%" alt="Shopping Cart">

        <!-- Text overlay container -->
		<div class="home_content text-center" style="color: white;left:15%;">
    		<h3 class="home_title" style="font-size: 2rem;">Shopping Cart</h3>
			<div class="breadcrumbs">
				<ul>
					<li><a href="{% url 'shop:category' %}" style="color: white;">Home</a></li>
					<li style="color: white;">Shopping Cart</li>
				</ul>
			</div>
		</div>
    </div>
</div>


<!--cart table-->
<div class="cart_container">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="cart_title">your shopping cart</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="cart_bar d-flex flex-row align-items-center justify-content-start">
						<div class="cart_bar_title_name">Product</div>
						<div class="cart_bar_title_content ml-auto">
							<div class="cart_bar_title_content_inner d-flex flex-row align-items-center justify-content-end">
								<div class="cart_bar_title_price">Price</div>
								<div class="cart_bar_title_quantity">Quantity</div>
								<div class="cart_bar_title_total">Total</div>
								<div class="cart_bar_title_button"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="cart_products">
						<ul>
							{% for i in cart %}
							<li class=" cart_product d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-start">
								<!-- Product Image -->
								<div class="cart_product_image"><img src="{{i.product.image.url}}" height="100px" width="100px"></div>
								<!-- Product Name -->
								<div class="cart_product_name"><a href="product.html">{{i.product.name}}</a></div>
								<div class="cart_product_info ml-auto">
									<div class="cart_product_info_inner d-flex flex-row align-items-center justify-content-md-end justify-content-start">
										<!-- Product Price -->
										<div class="cart_product_price">{{i.product.price}}</div>
										<!-- Product Quantity -->
										<div class="product_quantity_container">
											<div class="product_quantity clearfix">
    										<input type="text" value="{{i.quantity}}" readonly>
    										<div class="quantity_buttons">
												{% if i.product.stock > 0 %}
												<!-- Increment quantity button -->
												<div>
        											<a href="{% url 'cart:addtocart' i.product.id %}">
            										<i class="fa fa-caret-up" aria-hidden="true" style="color:black;"></i>
        											</a>
												</div>
        										<!-- Decrement quantity button -->
												<div>
													<a href="{% url 'cart:cartremove' i.product.id %}">
            										<i class="fa fa-caret-down" aria-hidden="true" style="color:black;"></i>
													</a>
												</div>
												{% else %}
												<div>
													<a href="{% url 'cart:cartremove' i.product.id %}">
            										<i class="fa fa-caret-down" aria-hidden="true" style="color:black;"></i>
													</a>
												</div>
												{% endif %}

    										</div>
											</div>

										</div>
										<!-- Products Total Price -->
										<div class="cart_product_total" id="total_{{i.product.id}}">{{i.subtotal}}</div>
										<!-- Product Cart Trash Button -->
										<div class="cart_product_button">
    										<a href="{% url 'cart:cartdelete' i.product.id %}">
        										<img src="{% static 'images/trash.png' %}">
    										</a>
										</div>
									</div>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="cart_control_bar d-flex flex-md-row flex-column align-items-start justify-content-start">
<!--						<button class="button_clear cart_button">clear cart</button>-->
<!--						<button class="button_update cart_button">update cart</button>-->
<!--						<button class="button_update cart_button_2 ml-md-auto">continue shopping</button>-->
						<a href="{% url 'shop:category' %}" class="button_update cart_button_2 ml-md-auto text-center" style="display: inline-block; padding: 10px 20px; text-align: center; width: 25%;">
        					continue shopping
    					</a>
					</div>
				</div>
			</div>
			<div class="row cart_extra">
				<!-- Cart Coupon -->
<!--				<div class="col-lg-6">-->
<!--					<div class="cart_coupon">-->
<!--						<div class="cart_title">coupon code</div>-->
<!--						<form action="#" class="cart_coupon_form d-flex flex-row align-items-start justify-content-start" id="cart_coupon_form">-->
<!--							<input type="text" class="cart_coupon_input" placeholder="Coupon code" required="required">-->
<!--							<button class="button_clear cart_button_2">apply coupon</button>-->
<!--						</form>-->
<!--					</div>-->
<!--				</div>-->
				<!-- Cart Total -->
				<div class="col-lg-5 offset-lg-1">
					<div class="cart_total">
						<div class="cart_title">cart total</div>
						<ul>
<!--							<li class="d-flex flex-row align-items-center justify-content-start">-->
<!--								<div class="cart_total_title">Subtotal</div>-->
<!--								<div class="cart_total_price ml-auto">$35.00</div>-->
<!--							</li>-->
<!--							<li class="d-flex flex-row align-items-center justify-content-start">-->
<!--								<div class="cart_total_title">Shipping</div>-->
<!--								<div class="cart_total_price ml-auto">$5.00</div>-->
<!--							</li>-->
							<li class="d-flex flex-row align-items-center justify-content-start">
								<div class="cart_total_title">Total</div>
								<div class="cart_total_price ml-auto">{{total}}</div>
							</li>
						</ul>
						<a href="{% url 'cart:orderform' %}" class="button_update cart_button_2 ml-md-auto text-center mt-1" style="display: inline-block; padding: 10px 20px; text-align: center; width: 100%;">
        					proceed to checkout
    					</a>
					</div>
				</div>
			</div>
		</div>
	</div>




{% endblock %}