{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="product" style="margin-bottom:100px;margin-top:200px;">
		<div class="container">
			<div class="row product_row">

				<!-- Product Image -->
				<div class="col-lg-7">
					<div class="product_image">
						<div class="product_image_large"><img src="{{product.image.url}}" height="400px" width="80%" alt=""></div>
						<div class="product_image_thumbnails d-flex flex-row align-items-start justify-content-start">
<!--							<div class="product_image_thumbnail" style="background-image:url(images/product_image_1.jpg)" data-image="images/product_image_1.jpg"></div>-->
<!--							<div class="product_image_thumbnail" style="background-image:url(images/product_image_2.jpg)" data-image="images/product_image_2.jpg"></div>-->
<!--							<div class="product_image_thumbnail" style="background-image:url(images/product_image_4.jpg)" data-image="images/product_image_4.jpg"></div>-->
						</div>
					</div>
				</div>

				<!-- Product Content -->
				<div class="col-lg-5">
					<div class="product_content">
						<h2 class="product_name">{{product.name}}</h2>
                        <p>{{product.desc}}</p>
						<div class="product_price">Rs: {{product.price}}</div>
						<div class="rating rating_4" data-rating="4">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
						</div>
						<!-- In Stock -->
						<div class="in_stock_container">
							<div class="in_stock in_stock_true"></div>
							<span>stock:{{product.stock}}</span>
                            <p class="card-text">available:{{product.available}}</p>
						</div>

						<div class="product_size_container">
							{% if user.is_superuser == True %}
          						{% if product.stock > 0 %}
            						<h5>Product In stock</h5>
            						<div class="button mt-5"><a href="{% url 'shop:addstock' product.id %}">add stock</a></div>
          						{% else %}
            						<h5>Product Out of Stock</h5>
            						<div class="button mt-5"><a href="{% url 'shop:addstock' product.id %}">add stock</a></div>
          						{% endif %}
        					{% else %}
          						{% if product.stock > 0 %}
            						<h5>Product In Stock</h5>
            						<div class="button mt-5"><a href="{% url 'cart:addtocart' product.id %}">add to cart</a></div>
          						{% else %}
            						<h5>Out of Stock</h5>
          						{% endif %}
        					{% endif %}


  						</div>


						</div>
					</div>
				</div>
			</div>
		</div>


{% endblock %}