
{% extends 'base.html' %}
{% load static %}



{% block content %}
<style>
.button {
    position: absolute;
    top: 0;
    left: 0;
    width: 142px;
    height: 46px;
    background: #937c6f; /* Button background color */
    color: #FFFFFF; /* Text color */
    font-size: 12px; /* Font size */
    letter-spacing: 0.2em; /* Letter spacing */
    text-transform: uppercase; /* Uppercase text */
    border: none; /* No border */
    outline: none; /* No outline */
    cursor: pointer; /* Pointer cursor on hover */
    -webkit-transition: all 200ms ease; /* Transition for Webkit browsers */
    -moz-transition: all 200ms ease; /* Transition for Mozilla browsers */
    -ms-transition: all 200ms ease; /* Transition for Microsoft browsers */
    -o-transition: all 200ms ease; /* Transition for Opera browsers */
    transition: all 200ms ease; /* Transition for all browsers */
}

/* Optional: Add a hover effect */
.button:hover {
    background: #b29b8e; /* Change the background color on hover */
}
</style>

<h2 class="text-center" style="margin-top:200px;">Registration</h2>
<div class="container" style="width:40%;margin-bottom:100px;">

<form method="POST" >
  {% csrf_token %}


  <div class="mb-3">
    <label class="form-label">Username</label>
    <input type="text" class="form-control" name="u" placeholder="enter user name">
  </div>

    <div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" name="p" placeholder="enter password">
  </div>

  <div class="mb-3">
    <label class="form-label">Confirm Password</label>
    <input type="password" class="form-control" name="cp" placeholder="confirm password">
  </div>

    <div class="mb-3">
    <label class="form-label">firstname</label>
    <input type="text" class="form-control" name="f" placeholder="enter firstname">
  </div>

    <div class="mb-3">
    <label class="form-label">lastname</label>
    <input type="text" class="form-control" name="l" placeholder="enter lastname">
  </div>

    <div class="mb-3">
    <label class="form-label">Email</label>
    <input type="email" class="form-control" name="e" placeholder="enter email">
  </div>

  <div>
  <button type="submit" class="button">Register</button>
  </div>



</form>

</div>


{% endblock %}


