
{% extends 'base.html' %}
{% load static %}



{% block content %}
<h2 class="text-center" style="margin-top:200px;">Registration</h2>
<div class="container" style="width:40%;margin-bottom:100px;">

<form method="POST" >
  {% csrf_token %}


  <div class="mb-3">
    <label class="form-label">Username</label>
    <input type="text" class="form-control" name="u" placeholder="enter user name">
  </div>

    <div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" name="p" placeholder="enter password">
  </div>

  <div class="mb-3">
    <label class="form-label">Confirm Password</label>
    <input type="password" class="form-control" name="cp" placeholder="confirm password">
  </div>

    <div class="mb-3">
    <label class="form-label">firstname</label>
    <input type="text" class="form-control" name="f" placeholder="enter firstname">
  </div>

    <div class="mb-3">
    <label class="form-label">lastname</label>
    <input type="text" class="form-control" name="l" placeholder="enter lastname">
  </div>

    <div class="mb-3">
    <label class="form-label">Email</label>
    <input type="email" class="form-control" name="e" placeholder="enter email">
  </div>

  <div>
  <button type="submit" class="button">Register</button>
  </div>



</form>

</div>


{% endblock %}


